@model AnunciosWebMVC.Anuncios.Servicios.Models.Anuncio

@{
    ViewData["Title"] = "Delete";
}
<div class="formulario">
    <h1>Eliminar Anuncio</h1>

    <h3>Esta seguro que desea eliminar el anuncio?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Titulo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdTipo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdTipo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Precio)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Imagen)
            </dt>
            <dd>
                @{
                    if (!(Model.Imagen == null))
                    {
                        byte[] img = Model.Imagen;
                        string imageBase64Data = Convert.ToBase64String(img, 0, img.Length);
                        string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
                        <img src="data:image/jpg;base64,@imageBase64Data" width="300" height="300" alt="User picture">
                    }
                    else
                    {
                        <img src="" alt="User picture">
                    }
                }

            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a asp-action="Index">Regresar</a>
        </form>
    </div>
</div>